<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetched Data</title>
</head>

<body>
    <div>
        <h1>View Data</h1>
    </div>
    <div>
        {{#each data}}
        <h3>ID: {{this._id}}</h3>
        <p>Name: {{this.name}}</p>
        <p>DOB: {{this.dob}}</p>
        {{/each}}
    </div>
</body>

</html>