* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(202, 39, 115);
    display: flex;
    justify-content: center;
}

.innerContainer {
    background-color: aliceblue;
    padding: 30px 20px;
    margin: 39px 0;
    border: 2px solid rgb(202, 39, 115);
    box-shadow: inset 0px 0px 9px rgb(202, 39, 115);
    border-radius: 5px;
}

.headingContainer {
    background-color: rgb(202, 39, 115);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.headingContainer h1 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.inputContainer {
    padding: 5px;
    margin: 5px;
    background-color: aliceblue;
}

.innerContainer input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(202, 39, 115);
    outline: rgb(202, 39, 115);
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: black;
}

.inputContainer input::placeholder {
    color: rgb(202, 39, 115);
    text-transform: lowercase;
}

.mainTodoListContainer {
    background-color: aliceblue;
}

.subHeadingCont {
    background-color: aliceblue;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subHeadingCont h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: rgb(202, 39, 115);
    background-color: aliceblue;
    width: 50%;
}

.todoListContainer {
    background-color: rgb(202, 39, 115);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid aliceblue;
}

.todos {
    background-color: aliceblue;
    margin: 2.5px;
    padding: 5px;
    border-radius: 3px;
}

.todos p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    margin-top: 1px;
    background-color: rgba(202, 39, 115, 0.251);
    padding: 5px;
    border-radius: 2px;
}