* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 21, 35);
}

.innerContainer {
  padding: 30px 50px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.headingContainer {
  text-align: center;
}

.headingContainer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  color: rgb(246, 83, 134);
  text-transform: uppercase;
  user-select: none;
}

.timeContainer {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  margin: 3px 7px;
  padding: 5px;
  background-color: azure;
  border-radius: 3px;
  border: 1px solid #dadce0;
}

.box .userInp {
  width: 170px;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  background-color: pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box .userInp span {
  color: black;
  font-family: sans-serif;
  font-size: 5em;
  padding: 3px;
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.box .userInp p {
  display: block;
  cursor: pointer;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 3px 7px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 4px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.box .name {
  background-color: rgb(255, 101, 157);
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgb(255, 101, 157);
  padding: 2px;
  margin-top: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.box .name span {
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.89em;
  font-weight: 600;
  text-transform: lowercase;
}

.buttonContainer {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.buttonContainer button {
  background-color: rgb(238, 20, 89);
  border-radius: 3px;
  border: 1px solid rgb(255, 0, 93);
  padding: 7px 14px;
  cursor: pointer;
}

.buttonContainer button span {
  color: white;
  font-family: monospace;
  font-size: 1.45em;
  font-weight: 600;
  padding: 4px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.timerStarted {
  margin: 0 5px;
  display: none;
}

#CancelButton {
  background-color: aliceblue;
  border: 1px solid rgb(255, 0, 93);
}

#CancelButton span {
  color: rgb(238, 20, 89);
}
