* {
    margin: 0;
    padding: 0;
}
 
.userSelectNone {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.iconSet {
    width: 25px;
    padding: 2px;
    margin: 1px;
}

body {
    scroll-behavior: smooth;
    background-color: black;
}

body::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.835);
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(80, 80, 80);
}

.layerContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.layers {
    background-color: rgba(255, 255, 255, 0.593);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.593);
}

.closeCont {
    padding: 6px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.closeCont .closeBtn {
    background-color: black;
    cursor: pointer;
    padding: 3px 7.5px;
    border-radius: 100px;
    width: max-content;
}

.closeCont .closeBtn p {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;
}

.tpheading {
    padding: 3px;
    margin: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tpheading p {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.layerContainer .boxContainer {
    background-color: rgba(0, 0, 0, 0.654);
    padding: 20px;
    border-radius: 4px;
}

.boxContainer div {
    background-color: rgba(253, 253, 253, 0.893);
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.boxContainer div::-webkit-scrollbar {
    background-color: white;
    width: 6px;
}

.boxContainer div::-webkit-scrollbar-thumb {
    background-color: grey;
}

.boxContainer div p {
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-transform: capitalize;
}

.boxContainer div p:hover {
    background-color: #dadce0;
}

.mainContainer {
    width: 100%;
    height: 100vh;
}

.placesContainer {
    background-color: rgb(255, 0, 89);
    padding: 5px;
}

.placesContainer .places {
    background-color: rgb(255, 0, 89);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.places div {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: fit-content;
    border-radius: 3px;
    border: 2px solid rgb(255, 0, 89);
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.places div p {
    color: rgb(255, 0, 89);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.container {
    background: url(img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.heading {
    padding: 5px;
}

.heading p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
}

.subContainer {
    padding: 5px;
    margin: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: max-content;
    padding: 3px;
    margin: 6px;
    border-radius: 3px;
    border: 2px solid rgb(0, 0, 0);
}

.innerBox {
    background-color: rgb(255, 0, 89);
    padding: 2px;
    border-radius: 3px;
}

.innerBox p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 4rem;
}

.detailName {
    padding: 2px;
    margin: 1px;
}

.detailName p {
    color: rgb(255, 254, 254);
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}

.reportContainer {
    background-color: rgb(255, 0, 89);
    padding: 5px;
}

.sevenDayReport {
    padding: 3px;
    margin: 1px;
}

.reportBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.reportBox .date,
.day,
.category,
.temp {
    padding: 3px;
    margin: 2px;
}

.category {
    display: flex;
    flex-direction: row;
}

.reportBox p {
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 1em;
}